<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/estilos.css">
	<title>Tela de login</title>
	<script src="/static/verifica_usuario_fetch.js" defer></script>
</head>
<body>
	<form method="POST">
		<div>
			<label for="tx-usuario">Usuário:</label><br>
			<input type="text" name="usuario" id="tx-usuario">
		</div>
		<div>
			<label for="tx-senha">Senha:</label><br>
			<input type="password" name="senha" id="tx-senha">
		</div>
		<button type="submit">Enviar</button>
		<p class="urgente" id="paragrafo-erro">{{ erro }}</p>
	</form>
</body>
</html>
